*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
}
* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Marcellus', serif;
    --font-family-h2: 'Inter', sans-serif;
}

body {
    font-family: var(--font-family-h2);
    font-size: 0.8rem;
}

h1 {
    font-family: var(--font-family);
    font-size: 3rem;
    text-align: center;
}

h2 {
    max-width: 47rem;
    margin: 0 auto;
    font-family: var(--font-family-h2);
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}

body { 
    overflow-x: hidden;
}

.chart_right svg {
    margin-top: 41.91rem;
    margin-left: 1rem;
    transform: rotate(90deg);
}
.chart_left svg {
    margin-top: 41.4688rem;
    margin-left: -12.45rem;
    transform: rotate(-90deg);
}
